<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mybatis.mapper.DynamicSQLMapper">

<!--    List<Emp> getEmpByCondition(Emp emp);-->
<select id="getEmpByConditionOne" resultType="Emp">
    select * from t_emp where 1=1
     <if test="empName!=null and empName!=''">
        and  emp_name=#{empName}
     </if>
    <if test="age!=null and age!=''">
        and age=#{age}
    </if>
    <if test="sex!=null and sex!=''">
        and sex=#{sex}
    </if>
    <if test="email!=null and email!=''">
    and email=#{email}
    </if>

</select>
    <sql id="empColumns">eid,emp_name,age,sex,email</sql>
    <select id="getEmpByCondition" resultType="Emp">
        select <include refid="empColumns"></include> from t_emp
       <where>
           <if test="empName!=null and empName!=''">
              emp_name=#{empName}
           </if>
           <if test="age!=null and age!=''">
               and age=#{age}
           </if>
           <if test="sex!=null and sex!=''">
               and sex=#{sex}
           </if>
           <if test="email!=null and email!=''">
               and email=#{email}
           </if>
       </where>
    </select>

<!--    int deleteMoreByArray(Integer[] edis);-->
<delete id="deleteMoreByArray">
    delete from t_emp where eid in 
                     (
    <foreach collection="eids" item="eid" separator=",">
        #{eid}
    </foreach>
                         )

</delete>

<!--    int insertMoreByList(List<Emp> emps);-->
<insert id="insertMoreByList">
    insert into t_emp values
    <foreach collection="emps" item="emp" separator=",">
    (null,#{emp.empName},#{emp.age},#{emp.sex},#{emp.email},null)
    </foreach>
</insert>

</mapper>